.empty-card {
    background-color: var(--transparent-background-gray);
    border: var(--gray-700) 1px solid;
    width: 240px;
    height: 240px;
    border-radius: 20px;
}

.hover {
 border: #353535 1px solid;
}
