$thumb-size: 14px;


@mixin track-styles {
    appearance: none;
    background: transparent;
    border: transparent;
}

@mixin thumb-styles {
    appearence: none;
    pointer-events: all;
    width: $thumb-size;
    height: $thumb-size;
    border-radius: 0px;
    border: 0 none;
    cursor: grab;
    background-color: red;

    &:active {
        cursor: grabbing;
    }
}

.range-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
}

.range-label {
    padding-bottom: 8px;
    font-weight: bold;
    font-size: 14px;
}

.range-slider {
    outline: none;
    accent-color: #d9d9d9;
    background: #535353;
}

.slider {
    position: absolute;
    width: 100%;
    pointer-events: none;
    appearance: none;
    height: 100%;
    opacity: 0;
    z-index: 3;
    padding: 0;


    &::-ms-track {
        @include track-styles;
    }

    &::-moz-range-track {
        @include track-styles;
    }

    &:focus::-webkit-slider-runnable-track {
        @include track-styles;
    }

    &::-ms-thumb {
        @include thumb-styles;
    }

    &::-moz-range-thumb {
        @include thumb-styles;
    }

    &::-webkit-slider-thumb {
        @include thumb-styles;
    }
}

.min {
}

.max {
}

.wrapper {
    display: flex;
    align-items: center;
    height: calc($thumb-size + 1.6rem);
    position: relative;
}

.input-wrapper {
    width: calc(100% + $thumb-size);
    position: absolute;
    height: $thumb-size;
}

.control-wrapper {
    width: 100%;
    height: $thumb-size;
    position: absolute;
}

.rail {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    border-radius: 3px;
    background: #535353;
}

.dot {
    height: 8px;
    width: 8px;
    position: absolute;
    background: #535353;
    border-radius: 50%;
    top: 25%;
}

.inner-rail {
    position: absolute;
    height: 100%;
    background: #d9d9d9;
}

.control {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #d9d9d9;
    top: 50%;
    margin-left: calc(14px / -2);
    transform: translate3d(0, -50%, 0);
    z-index: 2;
    position: absolute;
}
