$header-height: 56px;

.history-content {
    height: 100%;

}

#history-header {
    background-color: var(--gray-900);
    z-index: 3;
    width: 100%;
    padding: 8px 12px ;
}

#history-section {

}

#columns-container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - $header-height - 24px);
    padding:  8px calc(12px + 16px) 12px;
}

.history-section-list {
    /* overflow-y: scroll; */
    max-height: calc(100vh - $header-height - 56px);
}



.list-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 12px;
    list-style-type: none;
    padding-bottom: 52px;
  }

  .list-group-item{
    min-width: 200px;
  }


.header-btn {
    background-color: transparent;
    color: var(--white-100);
    border: none;
}

.btn-filter {
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: var(--content-color-secondary);
    background-color: transparent;
}

.btn-filter__active {
    background-color: var(--white-100);
    color: var(--gray-900);
}

#filter-btns-container {
    display: flex;
    gap: 8px;
    background-color: hsl(255, 255, 255, 10%);
    border-radius: 12px;
    width: max-content;
    padding: 4px;
    justify-content: center;
}

#history-column {
    width: 100%;
    /* Move the scroll to this parent item  probably?*/
    overflow-y: scroll
}

#drawer-column {
    margin-left: 12px;
    margin-bottom: 12px;
}


.song-drawer {
    position: fixed;
    border-radius: 8px;
}

#song-drawer__active {
    width: min-content;
    background-color: var(--gray-700);
    border-radius: 8px;
    height: 100%;
}

#song-drawer__inactive{
    display: none;
    width: 0;
}

.close-drawer {
    border-radius: 200px;
    color: var(--white-100);
    padding: 6px 6px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 24px;
        height: 24px;
    }
}

.close-drawer__hover {
    background-color: hsl(255, 255, 255, 10%);
}


.drawer-header {
    padding: 0px 0px 8px;
    display: flex;
    justify-content: flex-end;
}

.date-selection-selector {
    display: flex;
}

.list-item-song-amount {
    color: var(--content-color-secondary);
    margin: auto 0;
    padding-right: 6px;
   font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}
