.history-content {
    height: 100%;
}

#history-header {
    background-color: var(--gray-900);
    z-index: 3;
    width: 100%;
    padding: 8px 1% ;
}

#columns-container {
    display: flex;
    flex-direction: row;

}

#history-section-list {
    overflow-y: scroll;
    max-height: 600px;
}

#history-list-section {
    padding:  8px calc(1% + 16px) 0;
}

.history-list-item {
    list-style-type: none;
}

.section-header {
    display: flex;
    padding-bottom: 16px;
   font-size: 18px;
    line-height: 28px;
}

.section-header__active {
   font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
}

.list-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 12px;
    padding-bottom: 52px;
    list-style-type: none;
  }

  .list-group-item{
    min-width: 200px;
  }


.header-btn {
    background-color: transparent;
    color: var(--white-100);
    border: none;
}

.btn-filter {
    background-color: var(--gray-600);
    padding: 8px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
}

.btn-filter__active {
    background-color: var(--white-100);
}

#filter-btns-container {
    display: flex;
    gap: 8px;
    padding-bottom: 12px;
}

#history-column {
    width: 100%;
}

#drawer-column {
    margin-left: 12px;
}


.song-drawer {
    position: fixed;
    border-radius: 8px;
}

#song-drawer__active {
    width: min-content;
    background-color: var(--gray-700);
    max-height: 600px;
    border-radius: 8px;
}

#song-drawer__inactive{
    display: none;
    width: 0;
}
