:root {
    --gray-800: #1c1c1c;
    --gray-700: #252525;
    --gray-600: #535353;
    --gray-500: #a2a2a2;
    --gray-400: #3d3c3c;
    --gray-300: #cdcdcd;
    --gray-200: #d9d9d9;
    --gray-100: #f5f5f5;

    --white-100: #f9fbf7;

    --focus-gradient: linear-gradient(
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.58),
        rgba(0, 0, 0, 0.92),
        rgba(0, 0, 0, 1)
    );
    --transparent-background: hsl(0, 0, 100, 9%);

    --content-color-primary: var(--white-100);
    --content-color-secondary: var(--gray-300);
    --content-color-ter: var(--gray-100);

    --button-surface-primary: var(--gray-600);
    --button-surface-secondary: var(--white-100);

    --border-primary: var(--gray-400);
    --border-secondary: var(--white-100);
}

.text-xl {
    font-size: 20px;
    line-height: 30px;
}
.text-lg {
    font-size: 18px;
    line-height: 28px;
}
.text-md {
    font-size: 16px;
    line-height: 24px;
}
.text-sm {
    font-size: 14px;
    line-height: 20px;
}
.text-xs {
    font-size: 12px;
    line-height: 18px;
}

.display-2xl {
    font-size: 72px;
    line-height: 90px;
    letter-spacing: -2%;
}
.display-xl {
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2%;
}
.display-l {
    font-size: 48px;
    line-height: 60px;
    letter-spacing: -2%;
}
.display-md {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -2%;
}
.display-sm {
    font-size: 30px;
    line-height: 38px;
}
.display-xs {
    font-size: 24px;
    line-height: 32px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--font-hanken_grotesk);
    height: 100vh;
    background-color: var(--gray-800);
    color: var(--white-100);
}

a {
}
