html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  // position:absolute;
    height: 50px;
    background-color: red;
    // bottom: 0px;
    // left: 0px;
    // right: 0px;
    // margin-bottom: 0px
}

.section {
  height: max-content;
}

.section-main {
  height: calc(100vh - 110px);
}

h1.title {
  font-family: 'Righteous', cursive;
  letter-spacing: 0.1ch;
  font-size: 45px;
}