header.header {
  display: block;
}

h1.title {
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.1ch;
  font-size: 45px;
  padding-left: 1em;
  display: inline-block;
}

nav.mainnav {
  
  float: right;
  padding-right: 20px;
  padding-top: 40px;
  text-align: center;
}

// a.link{
//   font-family: 'Righteous', cursive;
//   // position:absolute;
//   // top: 2.5em;
//   // right: 4em;
//   // font-size: 20px;
//   // padding: 10px;
//   &:hover{
//     // background-color: rgba(177, 177, 177, 0.438);
//   }
// }

.section {
  height: max-content;
}

.sectionmain {
  height: 100%;
  // height: calc(100vh - 500px);
}
