


.btn {
    position: relative;
    color: white;
    width: 256px;
    height: 256px;
    line-height: 64px;
    transition: all 0.3s;
    background-color: transparent;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    border-radius: 10px;
    &:focus {
        outline: 0;
    }
}
  
  .btn::before, .btn::after {
    content: '';
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  
 /* BTN TWO */
  .btntwo::before, .btntwo::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
    border: 1px solid white;
    border-radius: 10px;
  }
  
  .btntwo:hover::after {
    border-radius: 30%;
    animation-name: rotatecw;
    animation-duration: 2s;
  }
  .btntwo:hover::before {
    border-radius: 30%;
    animation-name: rotateccw; 
    animation-duration: 3s;
  }
  .btntwo:hover::after, .btntwo:hover::before {
    // left: 96px;
    width: 100%;
    
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes rotatecw {
      from {transform: rotate(0deg);}
      to {transform: rotate(360deg);}
  }
  
  @keyframes rotateccw {
      from {transform: rotate(0deg);}
      to {transform: rotate(-360deg);}
  }



// button.newsongbutton {
//     font-family: 'Rubik', sans-serif;
//     font-size: 25px;
//     border-radius: 50%;
//     height: 250px;
//     padding: 20px;
//     border: 1px solid rgba(255, 255, 255, 0.5);
//     background-color: transparent;
//     &:hover {
//         border: 1px solid rgba(255, 255, 255, 0.5);
//     }
//     &:focus {
//         outline: 0;
//     }
    
// }

.trackbutton::before {
    transition: transform 0.15s, 0.15s border-radius 0.15s;
    opacity: 0;
    background: rgba(255, 255, 255, 0.1);
    transform: scale(0.1, 0.1);
    border-radius: 50%;
}

.trackbutton:hover::before {
    opacity: 1;
    transform: scale(1, 1);
    border-radius: 0;
    border-radius: 10px;
}

.trackbutton::after {
    transition: all 0.3s;
    border-radius: 10px;
    border: 1px solid white;
}

.trackbutton:hover::after {
    opacity: 0;
}

.trackbutton {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
    height: 100px;
}

h1.instructfill {
    font-family: 'Rubik', sans-serif;
    // color: red;
    // text-align: center;
}

.return {
    
    min-height: 380px;
    
    // background-color: rgb(221, 158, 21);
}

.buttonsection{
    width: 100%;
    display:inline-block;
    text-align:center;
    padding-top: 50px;
    padding-bottom: 30px;
    // padding-left: 3em;
}

.cardsection {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sectioncenter {
    // background-color: rgb(221, 158, 21);
    text-align: center;
    height: 380px;
    // padding: auto;
    padding-top: 60px;
}
