$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;
$screen-xxl: 1600px;


// moved to List.module.scss
// .cards {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-auto-rows: auto;
//     grid-gap: 1rem;
// }

.card {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: max-content;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    font-family: 'JetBrains Mono', monospace;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: min-content;
    &.info {
        padding-left: 30px;
        // padding-right: 30px;
        // width: 50%;
        // margin-bottom: auto;
        max-width: 300px;
    }
    &.albumcover {
        background: blue;
        // margin-bottom: auto;
    }
    &.spotify {
        position: absolute; 
        bottom: 0px;
    }
}

p.title {
    color: yellow;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

p.artist {
    color: green;
    word-wrap: break-word;
    overflow-wrap: break-word;
    
}

p.album {
    color: blue;
    word-wrap: break-word;
    overflow-wrap: break-word;
    

}

@media(max-width: 767px){
    .card {
        flex-direction: column;
    }
}