$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1400px;
$screen-xxl: 1600px;


// moved to List.module.scss
// .cards {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-auto-rows: auto;
//     grid-gap: 1rem;
// }



.card {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: max-content;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px;
    font-family: 'JetBrains Mono', monospace;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // width: min-content;
    &.info {
        padding-left: 20px;
        // padding-right: 30px;
        // width: 50%;
        // margin-bottom: auto;
        height: 300px;
        width: 300px;
        text-overflow: ellipsis;
    }
    &.albumcover {
        max-width: 300px;
        max-height: 300px;
        // background: blue;
        // margin-bottom: auto;
    }
    &.spotify {
        position: absolute; 
        bottom: 0px;
    }
}

.titlesection {
    height: 90%;
    width: 100%;
}

h1.title {
    // color: yellow;
    // font-family: 'Alfa Slab One', cursive;
    // font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-weight: bolder;
    font-size: 40px;
    // font-size: 2em;
    // font-size: 3vw;
    text-overflow: ellipsis;
    // font-style: italic;
    
    margin: 0;
    padding: 0;
}

p.artist {
    // color: green;
    font-family: 'Poppins', sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
    font-weight: bold;
    // font-size: 30px;
    font-size: 1em;
    text-overflow: ellipsis;
}

p.album {
    // color: blue;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
    font-size: 20px;

}

p.explicit {
    margin-top: 10px;
    font-size: 15px;
}

p.attempt {
    margin: 0;
    font-size: 11px;
}

@media(max-width: 767px){
    .card {
        flex-direction: column;
    }

    .section {
        &.info {
            padding-left: 10px;
        }
    }
}