#filter-btn {
    left: 10px;
    bottom: 10px;
}

.filter-modal {
    bottom: 14px;
}

#sign-in-btn {
    position: absolute;
    bottom: 10px;
}

#information-btn {
    bottom: 10px;
    right: 10px;
}
